<select name="adtermid" id="adtermid">
            
                <option value="">202230 : Winter 2022 Quarter : 01/10/2022</option>
            
                <option value="">202250 : Spring 2022 Quarter : 04/11/2022</option>
            
                <option value="">202270 : Summer 2022 Quarter : 07/11/2022</option>
            
                <option value="">FA2022 : Fall 2022 Quarter : 10/03/2022</option>
            
                <option value="">WI2023 : Winter 2023 Quarter : 01/09/2023</option>
            
                <option value="">SP2023 : Spring 2023 Quarter : 04/10/2023</option>
            
                <option value="">SU2023 : Summer 2023 Quarter : 07/10/2023</option>
            
                <option value="">FA2023 : Fall 2023 Quarter : 10/02/2023</option>
            
                <option value="">WI2024 : Winter 2024 Quarter : 01/08/2024</option>
            
                <option value="">SP2024 : Spring 2024 Quarter : 04/08/2024</option>
            
                <option value="">SU2024 : Summer 2024 Quarter : 07/08/2024</option>
            
                <option value="">FA2024 : Fall 2024 Quarter : 09/30/2024</option>
            
        </select>